@font-face {
    font-family: "lemon-light";
    src: url("../fonts/LemonMilkLight-owxMq.otf")
}
@font-face {
    font-family: "lemon-bold";
    src: url("../fonts/LemonMilkBold-gx2B3.otf")
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf")
}